<div class="col-12">
<div class="header">
  <div class="buttons mt-2">
  <span pButton class="button ml-2" (click)="goToSearch()">Sorgulama Paneli |</span>
  <span pButton class="button ml-2" (click)="goToMissionManage()">Görev Yöneticisi Uygulaması | </span>
  <span pButton class="button ml-2" (click)="goToCardApp()">Kart Uygulaması | </span>
  <span pButton class="button ml-2" (click)="goToRealTimeCard()">Kart Uygulaması Gerçek Dünya | </span>
  <span pButton class="button ml-2" (click)="goToMap()">Gerçek Harita Uygulaması</span>
  </div>



</div>

</div>
