.p-field{
 display: flex;
 flex-direction: column;
  margin-top: 5px;
}

.add{
  border-radius: 8px;
}
::ng-deep .p-card{
  border: 1px solid #aedad0;
  margin: 2rem;
  width: 50%;
}

.page{
  display: flex
}
